/* classi debug */
.debug_conteiner{
  width: 100%;
  height: 200px;
  background-color: red;
}
/* HEADER */
/* classi menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
}
.menu_logo{
  height: 50px;
}
.burger_menu{
  min-width: 100px;
  color: #0069FF;
}
/* classi jumbo */
.jumbo{
  height: 500px; /* DEBUG:  */
  padding-top: 80px;
  background-image: url(../img/bg-home.jpg);
}
/* MAIN */
/* classi logos */
.logos{
  background-color: #F3F5F9;
}
/* classi services */
.services{

}
/* classi slider 1 */
.slider_1{
  background-color: #F3F5F9;
}
.slider_1_box{
  height: 300px; /* DEBUG:  */
  width: 80%;
  margin: auto;
  background-color: lime;
}
/* classi features */
.features{
  height: 300px; /* DEBUG:  */
}
/* classi customers */
.customers{
  height: 300px; /* DEBUG:  */
  background-color: #0033AF;
}
/* classi slider 2 */
.slider_2{
  background-color: #F3F5F9;
}
.slider_2_box{
  height: 300px; /* DEBUG:  */
  width: 80%;
  margin: auto;
  background-color: violet;
}
/* FOOTER */
/* classi footer top */
.footer_top{
  height: 300px; /* DEBUG:  */
  color: #fff;
  background-color: #0033AD;
}
/* classi footer bottom */
.footer_bottom{
  color: #fff;
  background-color: #031C4E;
}
