/* classi debug */
.debug_conteiner{
  width: 100%;
  height: 200px;
  background-color: red;
}
/* classi generali */
body{
  font-family: 'Roboto', sans-serif;
}
main section,
footer section{
  padding: 40px 0;
}
h1{
  font-size: 65px;
  font-weight: 700;
}
h2{
  font-weight: 700;
}
/* HEADER */
/* classi menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
  z-index: 3;
}
.menu_logo{
  height: 50px;
}
.burger_menu{
  min-width: 100px;
  color: #0069FF;
  font-size: 30px;
}
.menu ul{
  display: inline;
}
.menu a{
  font-size: 16px;
  color: rgba(3,27,78,.7);
  text-transform: capitalize;
}
.menu li:hover a{
  text-decoration: none;
  color:#6B8CFF;
  cursor: pointer;
}
.menu_dropdown{
  color: rgba(3,27,78,.7);
  margin: 0 5px
}
.menu_btn{
  color: #0049FF;
  border: 2px solid #0049FF;
  background-color: #fff;
  font-weight: 700;
  margin-left: 5px;
}
.menu_btn:hover{
  color: #fff;
  background-color: #0049FF;
  margin-left: 5px;
}
/* classi jumbo */
.jumbo{
  margin-top: 80px;
  padding: 80px 0;
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
}
.jumbo_left{
  color: #fff;
  width: 100%;
  padding: 20px;
}
.jumbo_left p{
  font-size: 25px;
}
.jumbo_right{
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}
.jumbo_right_link{
  color:#006AFF;
  font-size: 30px;
  font-weight: 700;
}
.form_element{
  margin: 10px 5px;
}
.form_button{
  width: 100%;
  font-weight: 700;
}
.form_button_blue{
  color: #fff;
  background-color: #579AFF;
}
.form_button_google{
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc
}
.form_button_google img{
  position: absolute;
  top:50%;
  left:10px;
  transform: translateY(-50%);
  height:80%;

}
/* MAIN */
/* classi logos */
.logos{
  background-color: #F3F5F9;
}
.logos h3{
  text-transform: uppercase;
}
.logos_boxes{
  height: 80px;
  margin: 30px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logos #logo1{
  background-image: url(../img/logos/1_docker.png);
}
.logos #logo2{
  background-image: url(../img/logos/2_gitlab.png);
}
.logos #logo3{
  background-image: url(../img/logos/3_slack.png);
}
.logos #logo4{
  background-image: url(../img/logos/4_hashicorp.png);
}
.logos #logo5{
  background-image: url(../img/logos/5_wework.png);
}
.logos #logo6{
  background-image: url(../img/logos/6_splunk.png);
}
/* classi services */
.services h4{
  font-size: 25px;
  font-weight: 700;
}
.services ul{
  margin-bottom: 15px;
}
.services li{
  padding: 15px 10px;
  border-left: 2px solid #CCCCCC;
  font-size: 20px;
}
.services p{
  font-size: 2.1rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* classi slider 1 */
.slider_1{
  background-color: #F3F5F9;
}
.slider_1 p{
  font-size: 2.1rem;
  margin: 50px 0;
}
.slider_box{
  position: relative;
  width: 80%;
  margin: auto;
}
.chevron_l{
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top:50%;
  left:-10%;
  transform: translateY(-50%);
}
.chevron_r{
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top:50%;
  right:-10%;
  transform: translateY(-50%);
}
.slider_box img{
  width: 80%;
}
.slider_1 a{
  display: inline-block;
  margin: 15px;
}
/* ---->dots */
.dots_line{
  width: 100%;
  margin: 5px 0;
}
.dots{
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #006AFF;
  border-radius: 50%;
}
.dots:first-child{
  background-color: #006AFF;
}
/* <---- dots */
/* classi features */
.features h2{
  margin: 30px 0;
}
.features img{
  margin: 15px 0;
}
.features h4{
  font-size: 20px;
  font-weight: 700;
}
.features p{
  font-size: 1.8rem;
  margin: 30px 0;
}
/* classi customers */
.customers{
  background-color: #0033AF;
}
.customers h2{
  color:#fff;
}
.customers_row{
  position: relative;
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.customers_row_code{
  position: absolute;
  top:50%;
  left: 5%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.customers_row_regions{
  position: absolute;
  top:50%;
  left: 30%;
  transform: translateY(-50%);
  text-transform: capitalize;
  font-weight: 700;
  color: #A4B6E2;
}
.customers_row_link{
  position: absolute;
  top:50%;
  right:5%;
  transform: translateY(-50%);
  font-weight: 700;
  }
  .customers_row a:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
/* classi slider 2 */
.slider_2{
  background-color: #F3F5F9;
}
.slider_2_box{
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 50px 25px;
  width: 50%;
  background-color: #fff;
}
.slider_2_box img{
  width: 80%
}
.slider_box p{
  margin: 30px 5px;
  font-size: 20px;
}
.slider_box h5{
  font-size: 20px;
  font-weight: 700;
}
.slider_box h6{
  font-size: 18px;
}
.slider_2_box a{
  line-height: 2rem;
  vertical-align: middle;
}
/* FOOTER */
/* classi footer top */
.footer_top{
  background-color: #0033AD;
}
.footer_top h2{
  color: #fff;
  font-size: 30px;
  margin: 50px 0;
}
.footer_btn{
  background-color: #fff;
  color: #0033AD;
  font-size: 20px;
  font-weight: 700;
}
/* classi footer bottom */
.footer_bottom{
  color: #7A859D;
  background-color: #031C4E;
}
.footer_bottom dt{
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer_bottom a{
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #7A859D;
}
.footer_bottom a:hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.footer_bottom p{
  margin: 15px 0;
}
.footer_bottom .proudly{
  color: #384B71;
}
.footer_bottom .icons{
  width: 100%;
  display: inline;
  color: #7A859D;
  font-size: 20px;
}
.footer_bottom .icons i{
  margin-left: 5px;
}
